extends layout

block content
  head
  #{title}
  body
  h1= title
  p Contamos con los siguientes destinos de viajes
  div
    p Peru
    img.image(src='./images/img1.jpg' style="width: 40%")
    p Francia
    img.image(src='./images/img2.jpg' style="width: 40%")
