extends layout

block content
  h1= title
  p Bienvenido a #{title}, nosotros declaramos que tenemos un firme compromiso con la privacidad de los usuarios. La informaci贸n personal que recopila sobre sus clientes es utilizada con el objeto de contactarle de ser necesario. Nuevo Mundo Viajes no recopila informaci贸n personal sobre sus clientes para fines distintos de los enunciados, y tampoco vende, negocia o alquila la informaci贸n personal a ninguna organizaci贸n.
  img.image(src='./images/portada.jpg' style="width: 50%")
